html, body {
	width: 100%;
	height: 100%;
	overflow: hidden;
	margin: 0;
	padding: 0;
	background: #fff;
	color: #000;
}

#buffers {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 324px;
	left: 0;
	font-size: 12px;
	width: 100%;
	line-height: 1.33em;
	margin: 0 0 1em 0;
}

#buffers .buffer {
}

#buffers .buffer .info {
	font-family: 'Lucida Console', 'Consolas', 'Monaco', monospace;
	font-weight: bold;
	height: 1em;
	overflow: hidden;
	white-space: nowrap;
}

#buffers .buffer .info a.change {
	margin: 0 0.5em;
	color: #006666;
	text-decoration: underline;
	cursor: pointer;
}

#buffers pre {
	height: 100%;
	overflow: auto;
	margin: 0;
	padding: 0 0.5em;
	border: 1px solid #ccc;
}


#buffers #buffer1 {
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
}

#buffers #buffer2 {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
}

#ustream-video {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 320px;
	overflow: hidden;
}

#social-stream {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 400px;
	height: 320px;
	overflow: hidden;
}

#social-stream iframe {
	width: 100%;
}

pre.code {
	background: #ffffff;
	color: #222222;
}

pre.code .comment {
	color: #507c6f;
}

pre.code .string {
	color: #968258;
}

pre.code .number {
	color: #24c3b5;
}

pre.code .identifer {
	color: #333333;
}

pre.code .symbol {
	color: #479cdb;
}

pre.code .variable {
	color: #479cdb;
}

pre.code .constant {
	color: #479cdb;
}

pre.code .special_variable {
	color: #14779d;
}

pre.code .keyword {
	font-weight: bold;
	color: #4e7585;
}

pre.code .literal {
	color: #968258;
}

pre.code .operator {
	color: #29845a;
}

pre.code.lang-css .at_keyword {
	color: #479cdb;
}

pre.code.lang-css .important {
	color: #14779d;
}

pre.code.lang-xpath .nodetest {
	color: #479cdb;
}

pre.code.lang-xpath .axis {
	color: #24c3b5;
}

pre.code.lang-xpath .function {
	color: #479cdb;
}

pre.code.lang-xpath .qname {
	color: #968258;
}

pre.code.lang-xml .cdata {
	color: #80ac9f;
}

pre.code.lang-xml .tag {
	color: #479cdb;
}

pre.code.lang-xml .pi {
	color: #80ac9f;
}

pre.code.lang-xml .dtd {
	color: #80ac9f;
}

pre.code.lang-xml .attribute_val {
	color: #968258;
}

pre.code.lang-xml .attribute_name {
	color: #14779d;
}

pre.code.lang-xml .other {
}

pre.code ins {
	text-decoration: none;
	background: #ccffcc;
}

pre.code del {
	background: #ffcccc;
}
