<!DOCTYPE html>
<html>
	<head>
		<title>Ecole - live!</title>
		<link rel="stylesheet" type="text/css" href="/static/css/base.css" media="screen,tv"/>
		<script type="text/javascript" src="http://code.jquery.com/jquery-1.4.2.min.js"></script>
		<script type="text/javascript" src="http://github.com/cho45/jsdeferred/raw/master/jsdeferred.jquery.js"></script>
		<script type="text/javascript" src="/static/js/diff_match_patch.js"></script>
		<script type="text/javascript" src="/static/js/site-script.js"></script>
	</head>
	<body>
		<div id="buffers">
			<div id="buffer1" class="buffer">
				<div class="info"></div>
				<pre class="code"></pre>
			</div>
			<div id="buffer2" class="buffer">
				<div class="info"></div>
				<pre class="code"></pre>
			</div>
		</div>


		<!--
		<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" width="400" height="320" id="utv15739"><param name="flashvars" value="autoplay=false&amp;brand=embed&amp;cid=15757&amp;locale=en_US"/><param name="allowfullscreen" value="true"/><param name="allowscriptaccess" value="always"/><param name="movie" value="http://www.ustream.tv/flash/live/1/15757"/><embed flashvars="autoplay=false&amp;brand=embed&amp;cid=15757&amp;locale=en_US" width="400" height="320" allowfullscreen="true" allowscriptaccess="always" id="utv15739" name="utv_n_504675" src="http://www.ustream.tv/flash/live/1/15757" type="application/x-shockwave-flash" /></object><a href="http://www.ustream.tv/live" style="padding: 2px 0px 4px; width: 400px; background: #ffffff; display: block; color: #000000; font-weight: normal; font-size: 10px; text-decoration: underline; text-align: center;" target="_blank">Live TV : Ustream</a>
		-->

	</body>
</html>
